{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<button class="btn btn-danger" type="submit" onclick="deleteVenue({{venue.id}})">Delete</button>
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}


{% block javascript %}
<script>
	function deleteVenue(venueId) {
		debugger;
		fetch('/venues/'+venueId, {
			method: 'DELETE'
		}).then(() => {
			debugger;
			document.location.replace('/');
		}).catch(err => {
			debugger;
			console.log(err);
		})
	}
</script>
{% endblock %}

{% endblock %}
