{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <!-- START: CSRF -->
      {{ form.csrf_token }}
      {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
      {% endif %}
      <!-- END: CSRF -->
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="artist">Artist</label>
        <small>Artist performing at show</small>
        {{ form.artist(class_ = 'form-control', placeholder='Artist', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <small>Venue for show</small>
        {{ form.venue(class_ = 'form-control', placeholder='Venue', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}